body{
    border:50px;
    background-color:#D3D3D3;
    background-position: right 40px top 40px;
    background-image: url("/../images/lined-paper.png");
    background-repeat: repeat;
    background-size:100%;
}
.paper-background{
    background-color: rgba(158, 158, 158, 0.18);
}
a{
    padding:0;

}
.logo{
    padding: 0 !important;
    float:left;
}

body > div.paper-background > nav > div > div > ul > li:nth-child(1) > a > img {

}
a.navbar-brand {

}
div.container-fluid{
    padding:0;
}