body{
    border:50px;
    background-color:#D3D3D3;
    background-position: right 40px top 40px;
    background-image: url("/../images/lined-paper.png");
    background-repeat: repeat;
    background-size:100%;
}
.paper-background{
    background-color: rgba(158, 158, 158, 0.18);
}
