/*NAVBAR*/
#sale-list{
    padding: 15px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

body{
    border:50px;
    background-color:#D3D3D3;
    background-position: right 40px top 40px;
    background-image: url("/../images/lined-paper.png");
    background-repeat: repeat;
    background-size:100%;
}
.paper-background{
    background-color: rgba(197, 197, 197, 0.41);
}
a{
    padding:0;
    font-size: larger;

}
.logo{
    padding: 0 !important;
    float:left;
}

.mscott{
    width: 20%;
}

div.container-fluid{
    padding:0;
}

#dropdownMenu1{
    padding: 15px;
}

/*homepage*/

#indexpage{
    display: block;
    margin: 0 auto;
}

#home-title{
    text-align: center;
}

/*front size*/
p {
    font-family: "Andale Mono";
    font-size: 18px;
}

.message{
    display: block;
    margin: 0 auto;
}
h1, h3{
    text-align: center;
}

.boss-not{
    font-size: xx-large;
    color: #400000;
}

.glyphicon-search{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
}
